@tailwind base;
@tailwind components;
@tailwind utilities;



body {

  /* styles/globals.css */
  body {
    background-color: white;
    color: black;
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}